body div{
    display: flex;
    flex-direction: row;
    margin:0px;
    width: 100px;
    height: 100px;
}
.Revi{
    background-color: yellow;
    
    justify-content: center;
    
    
}
ul{
    background-color: black;
   
}